<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/main/resources/static/admin/lib/css/style.css">
</head>

<body
    style="background: url(/src/main/resources/static/admin/lib/images/golf.jpg); background-size: cover; background-repeat: no-repeat;">
    <header>
        <nav class="menu_nav">
            <ul class="menu_ul">
                <li class="menu_li selected"><a>CUSTOMER</a></li>
                <li class="menu_li selected"><a>BOOKING</a></li>
                <li class="menu_li selected"><a>LOGIN</a></li>
            </ul>
        </nav>
    </header>
    <div class="contents_body">
        <div class="contents_container">
            <h1 class="contents_title">PROJECT TITLE</h1>
        </div>
    </div>
</body>

</html>